{% extends "base.html" %}

{% set article_url = ABSOLUTE_SITEURL ~ "/" ~ article.url | replace('.html', '') %}

{% block head %}
<meta name="keywords"
  content="{{ article.tags | join(', ')}}{% if article.keywords %}, {{ article.keywords }}{% endif %}">
<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
<meta property="og:description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ article_url }}" />
<link data-pagefind-meta="url[href]" rel="canonical" href="{{ article_url }}">

{% if article.image %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ article.image }}" />
<meta name="og:image" content="{{ article.image }}" />
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}
<meta name="twitter:title" content="{{ article.title }}" />
<meta name="twitter:url" content="{{ article_url }}" />
<meta name="twitter:description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
{% if article.category %}
<meta name="twitter:label1" value="Theme" />
<meta name="twitter:data1" value="{{ article.category }}" />
{% endif %}

{# Octothorpes, cf https://docs.octothorp.es/quickstart/ #}
<link rel="preload" as="fetch" href="https://octothorp.es/?uri={{ article_url }}">
{% if article.category %}
<link rel="octo:octothorpes" href="{{ article.category }}">
{% endif %}
{% for tag in article.tags %}
<link rel="octo:octothorpes" href="{{ tag }}">
{% endfor %}

{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
{% import "modules/macros.html" as macros %}
<article data-pagefind-body>
  <div class="article__title">
    <h1 data-pagefind-meta="title"><a href="{{ article_url }}">{{ article.title
        }}</a></h1>
  </div>
  <div class="article__meta">
    <span style="display:none;" data-pagefind-meta="date" data-pagefind-sort="date">{{ article.date.date() }}</span>
    <span class="article__meta__post-date">{{ article.locale_date }}</span>
    <span class="article__meta__category middot">{{ macros.reading_time(article) }}</span>
    {% if DISPLAY_CATEGORIES == '' or DISPLAY_CATEGORIES %}
    <span class="article__meta__category middot"><a
        href="{{ SITEURL }}/{{ article.category.url | replace('.html', '')}}">{{ article.category |
        single_word_capitalize }}</a>
      {% endif %}
      {% if article.tags %}
      {% for tag in article.tags %}
      <a data-pagefind-meta="tag" class="taglink middot" href="{{ SITEURL }}/{{ tag.url | replace('.html', '') }}">{{
        tag |
        single_word_capitalize }}</a>{%
      if not
      loop.last %} {% endif %}
      {% endfor %}
      {% endif %}
    </span>
  </div>
  <div class="article__text">
    {{ macros.next_prev_chapter(article, articles) }}

    {% if article.image %}
    {% if not article.hide_image == "True" %}
    <img src="{{ article.image | s3_img_abspath }}" loading=lazy decoding=async class="article__main_img" />
    {% endif %}
    {% endif %}
    {{ article.content }}

    {{ macros.next_prev_chapter(article, articles) }}

  </div>
  {% if ISSOURL %}
  <div id=comments>
    <h2>Comments</h2>
    <script data-isso="{{ ISSOURL }}/" data-isso-avatar="false" src="{{ ISSOURL }}/js/embed.min.js"></script>
    <section id="isso-thread"></section>
  </div>
  {% endif %}


</article>
{% endblock %}
