{% macro _block(text, type) %}
<div class="{{ type }}" markdown="1">
{{ text }}
</div>

{% endmacro %}

{% macro note(text) -%}
{{ _block(text, type="Note")}}
{%- endmacro %}

{% macro warning(text) -%}
{{ _block(text, type="Warning")}}
{%- endmacro %}
