{% macro picture_light_dark(light_src) -%}
{% set dark_src = light_src.replace("light", "dark") %}
<picture>
    <source srcset="{{ S3_IMAGE_BASE_URL }}/{{ dark_src }}" media="(prefers-color-scheme: dark)">
    ![]({{ S3_IMAGE_BASE_URL }}/{{ light_src }})
</picture>
{%- endmacro %}
