{% macro s3_url(folder, filename) %}
{{ S3_IMAGE_BASE_URL }}/{{ folder }}/{{ filename }}
{% endmacro %}

{% macro s3_link(folder, filename, alt_text) %}
{% set url = s3_url(folder, filename) %}
{% if alt_text %}
[{{ alt_text }}]({{ url | trim }})
{% else %}
[]({{ url }})
{% endif %}
{% endmacro %}

{% macro s3_img(folder, filename, alt_text) %}
!{{ s3_link(folder, filename, alt_text) }}
{% endmacro %}

{% macro responsive_s3_img(folder, filename, alt_text, extension="webp") %}
{% set url = s3_url(folder, filename) %}
<img
  src="{{ url }}-300.{{ extension }}"
  srcset="{{ url | trim }}-300.{{ extension }} 320w,{{ url | trim }}-600.{{ extension }} 630w,{{ url | trim }}-1200.{{ extension }} 1250w,{{ url | trim }}-2000.{{ extension }} 2100w"
  alt="{{ alt_text }}"
  loading="lazy"
  decoding="async"
/>
{% endmacro %}