{% macro youtube_embed(src) -%}
<div class="video-container">
    <iframe src="{{ src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{%- endmacro %}
