{% macro picture_light_dark(light_src) -%}
{% set dark_src = light_src.replace("/light/", "/dark/") %}
<picture>
    <source srcset="{{ dark_src }}" media="(prefers-color-scheme: dark)">
    <img class=dark src="{{ light_src }}" />
</picture>
{%- endmacro %}