{% macro next_prev_chapter(article, articles) %}
  {% if article.chapter %}
    {% set current_chapter = article.chapter | int %}
    <div class=article__next_prev_chapters>
      {% for art in articles %}
        {% if art.category == article.category %}
          {% set chap = art.chapter | int %}
          {% if chap == current_chapter - 1 %}
            <a href="/{{ art.slug }}"><p class="article__prev_chapter">Chapter {{ art.chapter }}</p></a>
          {% elif chap == current_chapter + 1 %}
            <a href="/{{ art.slug }}"><p class="article__next_chapter">Chapter {{ art.chapter }}</p></a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro reading_time(article) %}
{% set num_words = article.content.split() | length  %}
{% set rtime = (num_words / 200) | round | int %}
{{ rtime }} minute read
{% endmacro %}