{% macro picture_light_dark(light_src) -%}
{% set dark_src = light_src.replace("/light/", "/dark/") %}
<picture>
    <source srcset="https://balthazar-rouberol-blog.s3.eu-west-3.amazonaws.com/{{ dark_src }}" media="(prefers-color-scheme: dark)">
    <img class=dark src="https://balthazar-rouberol-blog.s3.eu-west-3.amazonaws.com/{{ light_src }}" />
</picture>
{%- endmacro %}
